*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:100%;
    font-weight: 400;
}
.Nav_bar
{
    height: 75px;
    display: flex;
    align-items:end;
    margin-top: 15px;
    align-items:center;
}   
.Nav_bar h1
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}  
.Nav_bar01
{
    width: 40%;
    height: 100%;
}
.Nav_bar02
{
    width: 20%;
    height: 100%;
    display:inline-flex;
    justify-content: center;
}
.Nav_bar03
{
    height: 100%;
    width: 40%;
    display:inline;
    justify-content: right;
    padding-left: 300px;
    padding-right: 100px;
}
.navlist1
{
    list-style:none;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.iconlist1
{
    list-style:none;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.item
{
    text-align: center;
    width: 100px;
}
.item a
{
    text-decoration: none;
    color: black;
    transition: transform .5s;
}
.item a:hover
{
    text-decoration: none;
    color: #f98770;
    font-weight: bolder;
}
.active
{
    border-bottom: 3px solid black;
}

.iconlist1
{   
    display: flex;
    justify-content: space-evenly;
}
.iconlist1 a
{
    text-decoration: none;
}
.iconlist1 img
{
    transition: transform .2s;
}
.seach:hover
{
    transform: scale(1.5);
}
.cart:hover
{
    transform: scale(1.5);
}
.user:hover
{
    transform: scale(1.5);
}

/*--------------------------------------------------------------product page-------------------------------------------*/
.pdcpage
{
    width: 100%;
    height: 2700px;
    display: flex;
}
.right_container
{
    width: 10%;

}
.left_container
{
    width: 10%;
}


.middle_container
{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
}

.productset
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 400px;
    align-items: center;
}
.prdcard
{
    width: 17%;
    height: 97%;
    display: flex;
    flex-direction: column;
}
.p_top
{
    height: 80%;
    background-size: cover;
    font-size: 0.1px;
    background-color: #f9877000;
    transition: transform .4s;
}
.p_top:hover
{   
    font-weight: 700;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items:start;
    text-align: center;
    justify-content:center;
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.76);
    scale: 1.05;
    opacity: 0.7;
}

.p_top:active
{
    transform: scale(0.8);
}
.p_bottom
{
    height: 55px;
    padding-left: 25px;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}
.p_top a 
{
    color: #ffffff;
    text-decoration: none; 
    font-size: larger;
    transform: rotate(90deg);
    background-color: #000000;
    width: 138%;
}
.addcart
{
    height: 28px;
    background-color: black;
    color: white;
    font-weight: 100;
    cursor: pointer;
    transition: transform .4s;
}
.addcart:hover
{
    border: 1px solid black;
    background-color: black;
    color: white;
    font-weight: 400;
    opacity: 0.9;
}
.addcart:active
{
    
    transform: scale(0.8);
}
.prd:hover
{
    color: #f98770;
}
/*--------------------------------------catalog------------------------------------*/
.Catalog
{
    display: flex;
    height: 90vh;
    background-size: cover;
}
.ct
{
    width: 100%;
    height: 85%;
}
.ct td
{
    width: 30%;
    height: 85%;
}
.ct ul
{
    list-style:none;
}
.ct ul li
{
    text-decoration: none;
    font-size: 16px;
    font-weight:500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 25px;
    transition: 0.5s;
}
.ct ul li a b
{
    text-decoration: none;
    color: #000000;
    font-size: 17px;
}
.ct ul li a
{
    text-decoration: none;
    color: #000000dd;
    transition: transform .10s;
    border-left: #e7e3e4 3px solid;
    padding-left: 5px;
    font-weight: 400;
    font-weight:500;
}
.ct ul li a:hover
{
    text-decoration: none;
    color: #000000;
    border-left: #000000 3px solid;
}
.ct td ul li:hover
{
    
    transform: scale(1.13);
}
.cth1:hover
{
    color: #f98770;
}

/*--------------------------------------About------------------------------------*/
.About
{
    display: flex;
    height: max-content;
    margin-top: 70px;
    /*background-image: url(/Images/Images/Catalog.jpeg);
    background-size: cover;*/
}
.About .Middle_04
{
    display: flex;
    justify-content: space-between;
}
.About .Middle_04 .ahead
{
    background-image: url(/Images/Images/Aboutus3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.About .Middle_04 .abody
{
    width: 70%;
    margin-left: 100px;
}
.About .Middle_04 .abody .abodyimg
{
    width: 100%;
}
.abodyimg p,h4,h1
{
    transition: transform .9s;
    text-align: center;
}
.abody h1:hover
{
    color: #f98770;
}
.abodyimg h4:hover
{
    transform: scale(1.1);
}
.abodyimg p:hover
{
    transform: scale(1.1);
}
.abodyimg h4
{
    padding-top: 4%;
    width: 90%;
}
.abodyimg p
{
    padding-top: 4%;
    width: 90%;
}
/*--------------------------------------Contac------------------------------------*/
.Contac
{
    display: flex;
    height: 75vh;
    margin-top: 20px;
    /*background-image: url(/Images/Images/Catalog.jpeg);
    background-size: cover;*/
}
.Contac .Middle_04
{
    background-color: #e7e3e47e;
    border: 1px solid ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Contac .Middle_04 .ahead
{
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}
.Contac .Middle_04 .abody
{
    width: 80%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.abodyimg
{

    align-items: center;
    justify-content: space-around;
    width: 30%; 
    text-align: center;
}
.abodyimg p,h4,h1
{
    transition: transform .9s;
}
.ahead h1:hover
{
    color: #f98770;
}
.abodyimg h2
{
    text-align: center;   
    font-size: larger;
}
.abodyimg p:hover
{
    transform: scale(1.1);
}
/*-------------------------------------Subscribe-------------------------------------*/
.Subscribe
{
    height: 70vh;
    width: 100%;
}
#slogo
{
    /*background-image: url(/SASSY/Brand/1x/1x/Artboard\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;*/
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#slogo img
{
    display: flex;
    width: 200px;
}
#sub01
{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-weight:400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#sub02
{
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.stext
{
    width: 50%;
    height: 30%;
    border:hidden;
    border-bottom: 1px solid;
    font-size: 20px;
    text-align: center;
}
.sbutton
{
    margin-top: 10px;
    width: 50%;
    height: 30%;
    background-color: black;
    text-align: center;
    font-size: 20px;
    color: #e7e3e4;
}
.sbutton:hover
{
    opacity: 0.9;
    cursor: pointer;
}
.sbutton:active
{
    transform: scale(.95);
}
/*--------------------------------------Footer--------------------------------------*/
.Footer
{
    height: 40vh;
    width: 100%;
    display:flex;
    background-color: #e7e3e4;
}
.Middle_04 table
{
    width: 100%;
    height: 100%;
}
.ft
{
    width: 100%;
    height: 85%;
}
.ft td
{
    width: 10%;
    height: 85%;
}
.ft ul
{
    list-style:none;
}
.ft ul li
{
    text-decoration: none;
    font-size: 13px;
    font-weight:400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
}
.ft ul li a
{
    text-decoration: none;
    color: #000000;
    transition: transform .10s;
    border-left: #e7e3e4 3px solid;
    padding-left: 5px;
}
.ft ul li a:hover
{
    text-decoration: none;
    color: #000000;
    border-left: #000000 3px solid;
}
.ftext
{
    margin-top: 30px;
    width: 100%;
    height: 30px;
    border:hidden;
    border-bottom: 1px solid;
    font-size: 12px;
    text-align: center;
    background-color: #e7e3e4;
}
.fbutton
{
    margin-top: 1px;
    width: 100%;
    height: 30px;
    background-color: black;
    text-align: center;
    font-size: 12px;
    color: #e7e3e4;
}
.fbutton:hover
{
    opacity: 0.9;
    cursor: pointer;
}
.fbutton:active
{
    transform: scale(.95);
}
/*--------------------------------Copywirte--------------------------------*/
.Copywirte
{
    height: 5vh;
    width: 100%;
    display:flex;
    background-color: #e7e3e4;
}
.Copywirte .Middle_02
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e7e3e4;
    font-size: medium;    font-size: 12px;
    font-weight:400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*----------------------------------ALL----------------------------------*/
.Middle_01
{
    width: 10%;
    /*background-color: rgba(208, 222, 206, 0.246);*/
}
.Middle_02
{
    /*background-color: rgba(129, 158, 124, 0.314);*/
    width: 90%;
    height: 100%;
}
.Middle_03
{
    width: 10%;
    /*background-color: rgba(113, 130, 110, 0.259);*/
}
.Middle_04
{
    width: 90%;
    display: flex;
}
#P01
{
    height: 10%;
    width: 100%;
    /*background-color: rgb(255, 0, 115);*/
}
#P02
{
    height: 80%;
    width: 100%;
    /*background-color: rgb(118, 0, 53);*/
    display: flex;
}
#P03
{
    height: 10%;
    width: 100%;
    /*background-color: rgb(86, 2, 51);*/
}
.left
{
    width: 100%;
    height: 35%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-content: space-between;
}
.left_02
{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 27px;
}
.left_03
{
    width: 120%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    padding-top: 50px;
    padding-right: 30px;
}
.left_social
{
    width: 25px;
    height: 45px;
    display: block;
    transition: transform .2s;
}
.left_social:hover
{
    opacity: 0.8;
    transform: scale(1.5);
}


/**--------------------------------------------------------------*/
#top01
{
    background-image: url(/Images/Images/Item/Denimset01.jpg);
    background-size: cover;
}
#top02
{
    background-image: url(/Images/Images/Item/item_12.jpg);
    background-size: cover;
}#top03
{
    background-image: url(/Images/Images/Item/item_13.jpg);
    background-size: cover;
}#top04
{
    background-image: url(/Images/Images/Item/item_14.jpg);
    background-size: cover;
}#top05
{
    background-image: url(/Images/Images/Item/item_16.jpg);
    background-size: cover;
}#top06
{
    background-image: url(/Images/Images/Item/item_19.jpg);
    background-size: cover;
}#top07
{
    background-image: url(/Images/Images/Item/item_20.jpg);
    background-size: cover;
}#top08
{
    background-image: url(/Images/Images/Item/item_21.jpg);
    background-size: cover;
}#top09
{
    background-image: url(/Images/Images/Item/item_22.jpg);
    background-size: cover;
}#top10
{
    background-image: url(/Images/Images/Item/item_23.jpg);
    background-size: cover;
}#top11
{
    background-image: url(/Images/Images/Item/item_11.jpg);
    background-size: cover;
}#top12
{
    background-image: url(/Images/Images/Item/item_01.jpg);
    background-size: cover;
}#top13
{
    background-image: url(/Images/Images/Item/item_07.jpg);
    background-size: cover;
}
#top14
{
    background-image: url(/Images/Images/Item/item_08.jpg);
    background-size: cover;
}#top15
{
    background-image: url(/Images/Images/Item/item_09.jpg);
    background-size: cover;
}#top16
{
    background-image: url(/Images/Images/Item/item_10.jpg);
    background-size: cover;
}#top17
{
    background-image: url(/Images/Images/Item/item_11.jpg);
    background-size: cover;
}


